{{#async-await this.links as |links|}}
{{#each links as |i|}}
  <p>
  <a href={{ i.link }}>{{i.text}}</a>
  {{!-- <LinkTo @route={{i.route}} @model={{i.model}}>{{i.text}}</LinkTo> --}}
  </p>
{{/each}}
{{else}}
  <p>Loading...</p>
{{/async-await}}
